@using Shts_BusinessLogic

@inject IUserCollection UserCollection
@model IEnumerable<TicketViewModel>

@if (TempData["NoTickets"] != null)
{
    <p class="alert alert-danger">@TempData["NoTickets"]</p>
}
<table class="table">
    <thead class="thead-dark bg-dark text-light">
        <tr>
            <td>#</td>
            <td>Status</td>
            <td>Subject</td>
            <td>Last edited</td>
            <td>Handler</td>
            <td></td>
        </tr>
    </thead>
    @foreach (var ticket in Model)
    {
        <tr>
            <td name="id">@ticket.Id</td>
            <td>@ticket.Status</td>
            <td>@ticket.Subject</td>
            <td>@ticket.LastEdited</td>
            <td>@UserCollection.GetUserById(ticket.AgentId).FullName</td>
            <td>@Html.ActionLink("View details", "Details", new { id = ticket.Id })</td>
        </tr>
    }
</table>
